Dashboard {
	.displayed {
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .bg-style {
    background: #87CEEB;
  }

  .boldFont {
    font-weight: bold;
    color: #FFFFFF !important;
  }

  .noBorder {
    border-right: 0px clear transparent;
    border-left: 0px clear transparent; 
    border-top: 0px clear transparent;
    border-bottom: 0px clear transparent; 
    border-color: transparent;
  }

  .secondSectionBg {

    background: #87CEEB;
    width:100%;
  }

  .removeBottomSpace{
    margin-bottom: 0px;
  }

  .transparentBackground {
    background-color: transparent;
  }

  .label-ios {
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: auto;
  }

  .item-ios.item-block .item-inner {
    padding-right: 0px;
  }

  .ion-row {
     /*border-bottom: 1px solid transparent;*/
    height: 2px;
     /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #EF3F13 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #EF3F13 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #EF3F13 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 477, color-stop(0, #FFFFFF), color-stop(1, #EF3F13));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #EF3F13 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(ellipse farthest-side at center, #FFFFFF 0%, #EF3F13 100%);
    /*-moz-border-image: -moz-linear-gradient(left, red, yellow 100%, red);
    -webkit-border-image: -webkit-linear-gradient(left, red 0%, yellow 100%, red);
    border-image: linear-gradient(to right, red 0%, yellow 100%, red);

    border-image-slice: 1;*/

  }
}
