RegisterFavouriteEvent {
	  .secondSectionBg {

      background: #505050;
      width:100%;
    }

    .bg-style {
      background-color: #2E3C3C;
      width:100%;
    }

    .textPosition {
      text-align: left;
    }

    .textMiddle {
      text-align: center;
    }

    .textRight {
      text-align: right;
    }

    .displayed img {
      height: 75px;
        width:  88%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #container {
      width:100%;
      text-align:center;
    }

    #left {
        float:left;
    }

    #center {
        display: inline-block;
        margin: auto;
    }

    #right {
        float:right;
    }


  .noBorder {
      border-right: 0px clear transparent;
      border-left: 0px clear transparent; 
      border-top: 0px clear transparent;
      border-bottom: 0px clear transparent; 
      border-color: transparent;
    }

  .buttonFourCorners {
    border-radius: 0px;
  }
   
  .removeBottomSpace{
      margin-bottom: 0px;
    }

  .label-ios {
      margin-right: 0px !important;
      margin-left: 0px !important;
      margin-bottom: 8px;
      margin-top: -14px;
  }

  .boldFont {
      font-weight: bold;
      color: #FFFFFF !important;
    }

  .selectBackgroundColor {
    background-color: #273238;
  }

  .list-ios[no-lines] .item .item-inner {
    padding-right: 0px;
  }

  .item-ios ion-thumbnail {
      min-width: 10vw;
      min-height: 10vw;
  }

  .item-ios ion-thumbnail img {
      width: 10vw;
      height: 10vw;
  }

  .styleForThumbnail {
      padding-left: 2vw;
      padding-top: 2vw;
      padding-right: 2vw;
      padding-bottom: 2vw;
      margin-left: 2px;
  }

  .whiteBackground {
    background-color: white;
  }

  .ion-row {
       /*border-bottom: 1px solid transparent;*/
      height: 2px;
       /* IE10 Consumer Preview */ 
      background-image: -ms-radial-gradient(center, ellipse farthest-side, #00BEDC 0%, #00DD8D 100%);

      /* Mozilla Firefox */ 
      background-image: -moz-radial-gradient(center, ellipse farthest-side, #00BEDC 0%, #00DD8D 100%);

      /* Opera */ 
      background-image: -o-radial-gradient(center, ellipse farthest-side, #00BEDC 0%, #00DD8D 100%);

      /* Webkit (Safari/Chrome 10) */ 
      background-image: -webkit-gradient(radial, center center, 0, center center, 477, color-stop(0, #00DD8D), color-stop(1, #EF3F13));

      /* Webkit (Chrome 11+) */ 
      background-image: -webkit-radial-gradient(center, ellipse farthest-side, #00BEDC 0%, #00DD8D 100%);

      /* W3C Markup, IE10 Release Preview */ 
      background-image: radial-gradient(ellipse farthest-side at center, #00BEDC 0%, #00DD8D 100%);
      /*-moz-border-image: -moz-linear-gradient(left, red, yellow 100%, red);
      -webkit-border-image: -webkit-linear-gradient(left, red 0%, yellow 100%, red);
      border-image: linear-gradient(to right, red 0%, yellow 100%, red);

      border-image-slice: 1;*/
      margin-right: 0px; 
      margin-left: 0px;

  }

}
