<ion-header>
  <ion-navbar>
    <ion-title class = "selectBackgroundColor">
    <div class = "gradientColorForText boldFont">
    PARTICIPANTS
    </div>
    </ion-title>
    <ion-buttons right>
    <!-- <img src="assets/img/userAvatarHome.svg" style = "width : 100%; height : 100%;" ng-click = "goToMyAccountPage()"> -->
    <button  (click)="goToMyAccountPage()" style="background-color: transparent;">
     <img src="assets/img/userAvatarHome.svg">
    </button>
      <!-- <button (click)="goToMyAccountPage()">
      <ion-icon name = ""></ion-icon>
      </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content text-center>
    <ion-list style = "margin-bottom: 0px">
    <img class="displayed"  height="250 px" src="{{selectedItem.imageUrlKey}}">
    <div class ="gradientColorTopToBottom">
    <br>
  	<p> {{myDate}} </p>
    <div class = "row" padding>
    <button ion-button class = "col col-50 buttonFourCorners boldFont transparentBackground" outline (click)="saveToDashboard($event, selectedItem, 'PARTICIPATING', eventDate.getDate(), eventMonth, index)">
    <div style="float: left; color: #FFEA2C">
      I'm going
    </div>
    <div style="float: right">
    <img src="assets/img/circle-add-detailPage.svg" style="margin-left: 3px">
    </div>
    </button>
    <button ion-button class = "col col-50 buttonFourCorners boldFont transparentBackground" outline (click)="saveToDashboard($event, selectedItem, 'FOLLOWING', eventDate.getDate(), eventMonth, index)">
    <div style="float: left; color: #FFEA2C" >
      Follow this
    </div>
    <div style="float: right">
    <img src="assets/img/starDetailPage.svg" style="margin-left: 3px">
    </div>
    </button>
    </div>

    <div style = "font-size: 5vw; color: black; text-align: center; white-space: normal; font-weight: bold;">
    There are currently {{participants.length}} participants
    </div>

    <ion-item no-lines text-wrap *ngFor="let participant of participants" style = "background-color: transparent; padding-left: 0px">
    <ion-card style = "margin-bottom: 0px; text-align: center;" text-center>
      <img class = "btn" src = {{participant.imageUrl}} (click) = "goToParticipantProfile($event, participant)">
      <ion-card-content style = "padding-top: 0px;">
        <ion-card-title>
          {{participant.fullName}}
          </ion-card-title>
        <p>
          {{participant.jobTitle}} At: {{participant.workPlace}}
        </p>
      </ion-card-content>
    </ion-card>
    </ion-item>
    </div>
    </ion-list>
</ion-content>





