listOfParticipants {
	
  .bg-style {
    background: #87CEEB;
    width:100%;
  }
  .displayed {
  	width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .buttonFourCorners {
    border-radius: 0px;
  }

  .transparentBackground {
    background-color: transparent;
  }

  .row {
    margin-right: 0px;
    margin-left: 0px;
  }

  .button {
    color: yellow;
    border-color: yellow;
    border-style: solid;
    border-right: 1px solid yellow;
    border-left: 1px solid yellow; 
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow; 
    background-color: transparent;
    text-align: center;
  }

  .btn {
      height: 30vw;
      width: 30vw;
      border-radius: 50%;
      border: 1px solid transparent;
      display: inline-block;
      margin: 0px 10px;
      margin-top: 10px;
  }

  .label-ios {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    height: 100%;
  }

  .list-ios .item[no-lines], .list-ios .item[no-lines] .item-inner {
    padding-right: 0px
  }

  .card-title-ios {
    font-size: 2.8rem;
  }

  .back-button {
      color: #00BEDC !important; 
  }

}

ion-app._gmaps_cdv_ .nav-decor{
  		background-color: #505050 !important;
}

