item-detail-page {
	.bg-style {
    background: #87CEEB;
    width:100%;
  }
  .displayed {
  	width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .cardBorderStyle {
  	border-top: 0px;
  	border-left: 0px;
  	border-right: 0px;
  	border-bottom: 0px;
  	background: #87CEEB;
  }

  .left-padding{
 		margin-left: -15px;
	}

	.right-padding{
 		margin-left: 15px;
	}

  .button {
  	color: yellow;
  	border-color: yellow;
  	border-style: solid;
  	border-right: 1px solid yellow;
  	border-left: 1px solid yellow; 
  	border-top: 1px solid yellow;
  	border-bottom: 1px solid yellow; 
  	background-color: #87CEEB;
  	text-align: center;
	}

  .cool-button-div-left {

    position: absolute;
    margin:auto;
    margin-left:-2vh;
    margin-bottom:10vh;
  }

  .cool-button-div-right {

    position: relative;
    margin:auto;
    width:70%;
    margin-right:-1vh;
    margin-bottom:1vh;
  }

  #containerForItemName { 
	  margin-left:25px; 
	  margin-right:25px; 
    color: #000000;
    font-weight: bold;
    font-size: 20px;
  }

  #containerForItemDescription {
    margin-left:25px; 
    margin-right:25px; 
    color: #FFFFFF;
    font-size: 15px;
  }

  .scroll {
    height: 100%
  }
 
  #map {
    margin-left:auto; 
    margin-right:auto;
    width: 80%;
    height: 50%;
    background: transparent;
  }

  .socialShareButtonsMarginLeft {
    text-align:center;
    float:left;
    margin-left: 30px;
  }

  .socialShareButtonsMarginRight {
    text-align:center;
    margin-right: 30px;
  }

  .secondSectionBg {

    background: #202C2B;
    width:100%;
  }

  .noBorder {
    border-right: 0px clear transparent;
    border-left: 0px clear transparent; 
    border-top: 0px clear transparent;
    border-bottom: 0px clear transparent; 
    background-color: transparent;
    border-color: transparent;
  }

  .attendButtonsStyle {
    color: yellow;
    border-color: yellow;
    border-style: solid;
    border-right: 1px solid yellow;
    border-left: 1px solid yellow; 
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow; 
    background-color: #87CEEB;
    text-align: center;
    align-items: center;
    line-height: 50%;
    position: relative;
    display: inline-block;
    
    padding-right: 0px;
  }

  .icon {
      text-align: center;
  }

  .buttonFourCorners {
    border-radius: 0px;
  }

  .transparentBackground {
    background-color: transparent;
  }

  .row {
    margin-right: 0px;
    margin-left: 0px;
  }

  .list-ios .item-block .item-inner {
    border-bottom: none;
  }

  .ion-row {
     /*border-bottom: 1px solid transparent;*/
    height: 2px;
     /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #EF3F13 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #EF3F13 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #EF3F13 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 477, color-stop(0, #FFFFFF), color-stop(1, #EF3F13));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #EF3F13 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(ellipse farthest-side at center, #FFFFFF 0%, #EF3F13 100%);
    /*-moz-border-image: -moz-linear-gradient(left, red, yellow 100%, red);
    -webkit-border-image: -webkit-linear-gradient(left, red 0%, yellow 100%, red);
    border-image: linear-gradient(to right, red 0%, yellow 100%, red);

    border-image-slice: 1;*/

  }

  #outer
  {
    width:100%;
    text-align: center;
  }
  
  .inner
  {
    display: inline-block;
  }

  .label .label-ios {
    margin: 0px;
    margin-bottom: 0px;
    margin-top: 0px
  }

  .label-ios {
    margin-bottom: 0px;
    margin-top: 0px
  }

 
      .back-button {
          color: #00BEDC !important; 
      }
  


}

ion-app._gmaps_cdv_ .nav-decor{
  		background-color: #505050 !important;
}

