<ion-header>
  <ion-navbar>
    <ion-title class = "selectBackgroundColor">
    <div class = "gradientColorForText boldFont">
    {{selectedItem.labelKey}}
    </div>
    </ion-title>
    <ion-buttons right>
    <!-- <img src="assets/img/userAvatarHome.svg" style = "width : 100%; height : 100%;" ng-click = "goToMyAccountPage()"> -->
    <button  (click)="goToMyAccountPage()" style="background-color: transparent;">
     <img src="assets/img/userAvatarHome.svg">
    </button>
      <!-- <button (click)="goToMyAccountPage()">
      <ion-icon name = ""></ion-icon>
      </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content text-center class ="gradientColorTopToBottom">
    <ion-list>
    <img class="displayed"  height="250 px" src="{{selectedItem.imageUrlKey}}">
    <div style = "height: 55px; width: 100%" class = "gradientColorForSettingText">
    <ion-row style =  "margin-left: 5px; margin-right: 5px; height: 100%;">

    <ion-col col-2 style = "height: 100%; align-items: center; display: grid; padding-right: 0px; left: -10px">
    <div>
    <ion-buttons left>
    <!-- <img src="assets/img/userAvatarHome.svg" style = "width : 100%; height : 100%;" ng-click = "goToMyAccountPage()"> -->
    <button style="background-color: transparent;">
     <img src="assets/img/MEETINGS.svg">
    </button>
    </ion-buttons>
    </div>
    </ion-col>
    <ion-col col-8 style = "height: 100%; align-items: center; display: flex; margin-left: -15px">
    <div style = "display: flex;">
    <font style="font-size: 5.4vw" class="boldFont">LIST OF PARTICIPANTS</font>
    </div>
    </ion-col>
    <ion-col col-2 style = "height: 100%; align-items: center; display: grid; padding-right: 0px">
    <div>
    <ion-buttons right>
    <!-- <img src="assets/img/userAvatarHome.svg" style = "width : 100%; height : 100%;" ng-click = "goToMyAccountPage()"> -->
    <button style="background-color: transparent;" (click)="goToListOfParticipants($event, selectedItem)">
     <img src="assets/img/arrows-24px-glyph-1_minimal-right.svg">
    </button>
    </ion-buttons>
    </div>
    </ion-col>
    </ion-row>
    </div>
    <br>
  	<p> {{myDate}} </p>
    <div class = "row" padding>
    <button ion-button class = "col col-50 buttonFourCorners boldFont transparentBackground" outline (click)="saveToDashboard($event, selectedItem, 'PARTICIPATING', eventDate.getDate(), eventMonth, index)">
    <div style="float: left; color: #FFEA2C">
      I'm going
    </div>
    <div style="float: right">
    <img src="assets/img/circle-add-detailPage.svg" style="margin-left: 3px">
    </div>
    </button>
    <button ion-button class = "col col-50 buttonFourCorners boldFont transparentBackground" outline (click)="saveToDashboard($event, selectedItem, 'FOLLOWING', eventDate.getDate(), eventMonth, index)">
    <div style="float: left; color: #FFEA2C" >
      Follow this
    </div>
    <div style="float: right">
    <img src="assets/img/starDetailPage.svg" style="margin-left: 3px">
    </div>
    </button>
    </div>

    <div id="containerForItemName">#{{selectedItem.labelKey}}</div>
    <br>
    <div id="containerForItemDescription">{{selectedItem.ingredients}}</div>
    <br>
    
    <p><iframe width="100%" height="315" [src]="videoUrl" frameborder="0" allowfullscreen></iframe></p>

    <ion-row style = "margin-right: 15px; margin-left: 15px;">
    <ion-col col-10 style="color: #FFEA2C">
    {{selectedItem.moreInformation}}
    </ion-col>
    <ion-col col-2>
     <img src="assets/img/directToWebsiteIcon.svg" style="margin-left: 3px" (click)="openLink(selectedItem.moreInformation)">
    </ion-col>
    </ion-row>

    <br>
    <br>
    
    <ion-row style =  "margin-left: 15px; margin-right: 15px; height: 80%; display: flex; align-items: center;" class = "gradientColorForSettingText">
    <ion-col col-10 style = "height: 80%; align-items: center; display: flex;">
    <div style = "display: flex;">
    <font style="font-size: 25px" class="boldFont">Free Resource</font>
    </div>
    </ion-col>
    <ion-col col-2 style = "height: 80%; align-items: center; display: grid; padding-right: 0px">
    <div>
    <ion-buttons right>
    <button style="background-color: transparent;">
     <img src="assets/img/papers.svg">
    </button>
    </ion-buttons>
    </div>
    </ion-col>
    </ion-row>

  	<ion-item text-wrap *ngFor="let item of allItems" style="background-color: transparent;">
      <ion-row style = "padding-bottom: 0px">
        <ion-col col-3 style = "display: flex; align-items: center;">
          <img src="{{item.imageUrlKey}}">
        </ion-col>
        <ion-col col-9 style = "text-align: left; padding-left: 0px">
            <ion-card item-end style="background-color: transparent; box-shadow: none; width: 100%; margin-left: 0px">
            <ion-card-content>
            <h2 style = "color: #000000">{{item.labelKey}}</h2>
            <p>find it: {{item.moreInformation}}</p>
            </ion-card-content>
            </ion-card> 
        </ion-col>
      </ion-row>
      <div class = "ion-row"></div>
	  </ion-item>
    <div class = "row" padding>
    <button ion-button class = "col col-100 buttonFourCorners boldFont transparentBackground" outline (click)="sendEmail()">
    <div style="float: left; color: #FFEA2C; font-size: 13px; font-weight: bold;">
      EMAIL ME A LINK OF THESE RESOURCES
    </div>
    <div style="float: right">
    <img src="assets/img/send.svg" style="margin-left: 3px">
    </div>
    </button>
    </div>

    <ion-row style =  "margin-left: 15px; margin-right: 15px; height: 80%; display: flex; align-items: center;" class = "gradientColorForSettingText">
    <ion-col col-10 style = "height: 80%; align-items: center; display: flex;">
    <div style = "display: flex;">
    <font style="font-size: 25px" class="boldFont">EVENT INFORMATION</font>
    </div>
    </ion-col>
    <ion-col col-2 style = "height: 80%; align-items: center; display: grid; padding-right: 0px">
    <div>
    <ion-buttons right>
    <button style="background-color: transparent;">
     <img src="assets/img/exclamation.svg">
    </button>
    </ion-buttons>
    </div>
    </ion-col>
    </ion-row>
    </ion-list>


    <div #map id="map"></div>
    <P> {{selectedItem.labelKey}} </P>
    <div id="outer">
      <div class="inner" style="width: 171px">
      <button ion-button class = "buttonFourCorners boldFont transparentBackground" outline onclick="window.open('https://www.minttwist.com/', '_system', 'location=yes')" style="width: 168px; height: 56px;">
        <div style="float: left; color: #FFEA2C">
          official site
        </div>
        <div style="float: right">
          <img src="assets/img/directToWebsiteIcon.svg" style="margin-left: 3px">
        </div>
        </button>
      </div>
      <div class="inner">
        <button ion-button class = "buttonFourCorners boldFont transparentBackground" outline onclick="window.open('https://www.facebook.com/MintTwist', '_system', 'location=yes')" style="width: 56px; height: 56px;">
          <img src="assets/img/facebook.svg">
        </button>
      </div>
      <div class="inner">
        <button ion-button class = "buttonFourCorners boldFont transparentBackground" outline onclick="window.open('https://twitter.com/MintTwist',  '_system', 'location=yes')" style="width: 56px; height: 56px;">
          <img src="assets/img/twitter.svg">
        </button>
      </div>
    </div>



    <p></p>
    <div class="secondSectionBg">
    <hr>
    <h2><font class= "secondSectionBg" color ="white">Comments({{allItems.length}})</font></h2>
    <!-- <ion-item class="secondSectionBg"  text-wrap *ngFor="let item of allItems">
    <ion-thumbnail item-start>
      <img src="{{item.imageUrlKey}}">
    </ion-thumbnail>
    <ion-card item-end>
    <ion-card-content>
    <h2>{{item.labelKey}}</h2>
    <p>find it: {{item.moreInformation}}</p>
    </ion-card-content>
    </ion-card>
    </ion-item> -->
    <ion-item text-wrap *ngFor="let item of allItems" style="background-color: transparent;" no-lines>
      <ion-row style = "padding-bottom: 0px">
        <ion-col col-3 style = "display: flex; align-items: center;">
          <img src="{{item.imageUrlKey}}">
        </ion-col>
        <ion-col col-9 style = "text-align: left; padding-left: 18px">
            <ion-card item-end style="background-color: #FFFFFF; box-shadow: none; width: 100%; margin-left: 0px">
            <ion-card-content>
            <h2 style = "color: #000000">{{item.labelKey}}</h2>
            <p>find it: {{item.moreInformation}}</p>
            </ion-card-content>
            </ion-card> 
        </ion-col>
      </ion-row>
    </ion-item>
    </div>
</ion-content>





