page-home {
	.bg-style {
        background: #1185B1;
        width: 100%;
    }
    .center{
     text-align:center;
	}
	.list-content {
        background-color:#87CEEB;
    }

    .toolBar-content {
        margin-left: 20px;
        margin-right: 20px;
    }

	.displayed {
        width:100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .test {
        width:100%;
        text-align:center !important;
        margin-left: auto;
        margin-right: auto;
    }

    .marginSet {
        margin-left: 5px;
        margin-right: 5px;
    }

    .button-right{
	  display: block !important;
	  width: 100% !important;
	  text-align:right !important;
	}

	.cool-button-div-left {

	 position: absolute;
	 margin:auto;
     margin-left:-2vh;
     margin-bottom:10vh;
    }

    .cool-button-div-right {

     position: relative;
     margin:auto;
     width:70%;
     margin-right:-1vh;
     margin-bottom:1vh;
    }

    .buttonInCard {
        color: #43EE7E;
        background-color: white;
        /*font-size: 4vw;*/
        height: 30px;
        margin-right: 16px;
        padding-left: 23px;
        display: inline-block;
    }

    .col {
        border: solid 0px grey;
        border-bottom-style: none;
        border-right-style: none;
        width: 50%;
        word-wrap: break-word;

    }

    .row {
        word-wrap: break-word;
        border: solid 1px grey;
    }

    /*.col:last-child {
        border-right: solid 1px grey;
    }*/

    /*.row:last-child .col {
        border-bottom: solid 1px grey;
    }*/

    .boldFontSegment {
        font-weight: bold;
    }

    .label {
        padding: 0px;
        margin-top: 4px;
        margin-bottom: -10px;
    }

    .noBorder {
        border-right: 0px clear transparent;
        border-left: 0px clear transparent; 
        border-top: 0px clear transparent;
        border-bottom: 0px clear transparent; 
        border-color: transparent;
    }

    .removeBottomSpace{
        margin-bottom: 0px;
    }

    .transparentBackground {
        background-color: transparent;
    }

}

ion-app._gmaps_cdv_ .nav-decor{
        background-color: transparent !important;
}
