page-settings {
  
  .displayed {
  	  width:88%;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .label-ios {
  	margin-right: 0px !important;
  }

  .item-inner {
  	padding-right: 0px !important;
  }

  .noBorder {
    border-right: 0px clear transparent;
    border-left: 0px clear transparent; 
    border-top: 0px clear transparent;
    border-bottom: 0px clear transparent; 
    border-color: transparent;
  }

  .bg-style {
    background-color: #202C2B;
    width:100%;
  }

  .boldFont {
    font-weight: bold;
    color: #FFFFFF !important;
  }

}
